<div class="destination">
<%= destination.name %>
<div class="to_do_items"> 
<%= render :partial => 'to_do_items/form',  :locals => {:destination => destination.id} %>

  <% destination.to_do_items.each do |to_do_item| %>
  <%= render to_do_item %>
  <% end %>

</div>
</div>
