// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#comment_body{
  height: 30px;
}

.comments{
  float:right;
  font-size: 12px;
  position: relative;
  top: -40px;
  margin-right: 10px;
}