// Place all the styles related to the ToDoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.todo-item {
background-color: #E6E6E6;
margin-top: 25px;
margin-bottom: 20px;
font-family: Arial;
font-size:25px;
padding-left:20px;
padding-top:4px;
}

.info{
  font-size:12px;
  margin-bottom: 20px;
}

#to_do_item_name{
  height: 30px;
}